html {
    background-color: #FBFFFF;
    background-image: url("/images/back3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100%;
}

a, a:visited {
    color: dimgrey;
}
a:hover {
    color: black;
}

.icon-link {
    margin: 0 5px;
}

.custom-icon:hover {
    fill: black;
}

