html {
    background-color: #FBFFFF;
    background-image: url("/images/back3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    &::after{
        content: '';
        display: block;
        height: 45px;
    }
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a, a:visited {
    color: dimgrey;
}
a:hover {
    color: black;
}

.icon-link {
    margin: 0 5px;
}

.custom-icon:hover {
    fill: black;
}
